.NavBar {
    background-color: #333337;
  }

.Brand {
  display: flex;
  align-items: center;
}

.Brand,
.Brand strong,
.Brand em,
.Brand i {
  color: #FF5700;
}

.Brand i {
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
.Brand i:hover {
    cursor: initial;
    transition: none;
    color: initial;
}

.NavLink,
.NavLink i {
  color: #BDC3C7;
}

.NavLink {
  display: flex;
  align-items: center;
  padding: 5px;
}

.NavLink:not(:last-child) {
  margin-right: 1.6em;
}

.NavLink .Avatar {
  margin-top: 0;
}
  
.NavLink:hover,
.Active,
.Active i {
    color: #FF5700;
  }

.NavLink.active {
  border-bottom-color: #FF5700;
}