.Task {
	background-color: #32383c;
	border: 1px solid #40474c;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
}

.TaskTitle {
	color: #bdc3c7;
	font-weight: 800;
}

.Task figure,
h5 {
	margin: 0 0;
}

.Task i {
	font-size: 1.2em;
}

.Task a {
	text-decoration: none;
}

.TaskBody {
	background-color: #32383c;
}

.Eye {
	color: #f85032;
}

.Eye:hover {
	color: #fa6800;
}

.EyeOutline:hover {
	color: #f85032;
}

.TaskBar {
	background-color: #32383c;
	margin-top: 1em;
}

.TaskBar a:hover {
	border-color: transparent;
	text-decoration: none;
}

.Meta {
	font-weight: 500;
}

.MetaDetail {
	font-size: 0.9em;
}

.StatusBadge {
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
}

.DueDate {
	border: 1px solid;
	color: #bdc3c7;
}

.OverDue {
	background-color: red;
}

.DueToday {
	background-color: darkorange;
}

.Completed {
	background-color: green;
}
