.App {
  background-color: #141E23;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
  position: relative;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a,
p,
span,
strong {
  color: #BDC3C7;
}

a {
  font-weight: 500;
  transition: color ease-in-out 0.3s;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

a:hover {
  border-color: #FF5700;
}

a:hover,
a:hover i {
  color: #FF5700;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #FF5700;
  padding: 7px;
  vertical-align: middle;
}

.Link i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #FF5700;
  text-decoration: none;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
